[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
open-aea = {version = "==2.2.1", extras = ["all"]}
open-aea-cli-ipfs = "==2.2.1"
open-aea-ledger-cosmos = "==2.2.1"
open-aea-ledger-ethereum = "==2.2.1"
open-aea-ledger-ethereum-hwi = "==2.2.1"
open-aea-test-autonomy = "==0.21.18"
open-aea-helpers = "==0.21.18"
web3 = "<8,>=7.0.0"
open-autonomy = {version = "==0.21.18", extras = ["all"]}
requests = ">=2.28.1,<2.33.0"

[dev-packages]
aiohttp = "<4.0.0,>=3.8.5"
asn1crypto = "<1.5.0,>=1.4.0"
certifi = "*"
click = ">=8.1.0,<9"
docker = "==7.1.0"
ecdsa = ">=0.15"
eth-abi = "==5.2.0"
eth-utils = "==5.3.0"
eth_typing = "*"
grpcio = "==1.78.0"
hexbytes = "*"
hypothesis = "==6.21.6"
ipfshttpclient = "==0.8.0a2"
multidict = "*"
numpy = ">=1.21.6"
packaging = "*"
pandas = "==1.5.3"
pandas-stubs = "==1.2.0.62"
protobuf = ">=5,<6"
py-ecc = "==8.0.0"
pycryptodome = "==3.20.0"
pytest = ">=8.2,<10"
pytest-asyncio = "*"
python-dotenv = ">=0.14.0,<0.18.0"
pytz = "==2022.2.1"
requests = "<2.33.0,>=2.28.1"
texttable = "==1.6.7"
toml = "==0.10.2"
tomte = {version = "==0.6.5", extras = ["tests", "cli"]}
typing_extensions = ">=3.10.0.2"
valory-docker-compose = "==1.29.3"

[requires]
python_version = "3.11"
